* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
    background-color: #eeeeee;
  background-repeat: repeat;
  height: 100%;
  color: #2E2C33;
}

html, 
body {
  height: 100%;
}

/*     Basic Styles     */
h1 ,
h2,
h3,
h4 {
    font-weight: 900;
}

h1 {
  color: #fff;
  display: inline-block;
  padding-bottom: 20px;
  float: left;
  font-size: 2em;
  line-height: 49px;
}

h2 {
  color: #00C0FF;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
  font-size: 2rem;
}

h3 {
  color: #00C0FF;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
  font-size: 1.2em;
}

h4 {
  color: #00C0FF;
  padding: 20px;
  font-size: 1.1em;
}

p {
  padding-top: 20px;
}


/*         Navigation        */
.navbar-brand {
  font-size: 35px; 
  font-family: 'Raleway', sans-serif;
 /* padding-top: 75px; */
  margin-top: 30px;
  color: white;  
}

nav ul {
  list-style: none; 
  float: right;
  padding-bottom: 10px;
}

nav li {
  font-size: 1.1em;
  border-right: 1px solid #fff;
  padding: 10px;
  float: left;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

nav li a:hover {
  text-decoration: none;
  color: #714BCB;
}

/* HEADER */
header {
  background-color: #2E2C33; 
    background: 
        linear-gradient(rgba(0, 192, 255, 0.65), 
        rgba(0, 192, 255, 0.65)),
     
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 100;
  overflow: auto;
  background-color: #2E2C33;
    border-bottom: 10px solid #00C0FF;
}

.border {
  border: 1px solid #2E2C33;
}

.header-content {
  width: 960px;
  margin-top: 30px;
  margin-left: 30px;
}

#logo {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
 
}

#logo img {
    max-width: 100%;
}


/*  MAIN LAYOUT */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.main-content {
  width: 650px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 200px;
  border: 1px solid #dddddd;
  position: relative;
}

/*     Sidebar     */
.side-bar {
  width: 270px;
  float: right;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 200px;
  border: 1px solid #dddddd;
  position: relative;
}


/* SOCIAL ICONS*/
#social-container {
  width: 100%;
  margin: 0 auto;
}

.social-icons {
  padding: 20px 5px 5px 5px;
  width: 62px;
  margin: 0 auto;
}

#social-container  li {
  float: left;
  display: inline-block;
}

#social-container  li  a:hover {
  opacity: 0.5;
}

/*    FORM STYLES       */

#form-container {
  width: 100%;
}

label {
  font: inherit;
  display: inline-block;
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  width: 100%;
  font: inherit;
  color: #ccc;
  border: 1px solid #ccc;
  height: 
}

textarea {
  vertical-align: top;
  min-height: 200px;
}

button {
  padding: 10px;
  margin-top: 10px;
  font: inherit;
  color: #fff;
  background-color: #00C0FF;
  width: 60%;
  border: none;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}


#gallery-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.gallery {
  position: relative;
  float: left;
  width: 46%;
  margin: 20px 0 25px;
  overflow: auto;
}

.gallery:nth-child(odd) {
  margin-left: 40px;
  padding-right: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery h4 {
  z-index: 5;
  background-color: #00C0FF;
  color: #fff;
  /*position: absolute;*/
  top: 70%;
  width: 100%;
  padding: 10px;
  text-align: center;
}



footer {
  background-color: #2E2C33;
  text-align: center;
  color: #cccccc;
  font-size: .8em;
  padding-top: 50px;
  border-top: 10px solid #00C0FF;
}

.push,
.footer {
  height: 100px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  margin: 0 auto;
}


/*     FLoat Clearfix     */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

